<% provide :title, t("home") %>

<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="search_post">
        <%= render "shared/search_post" %>
      </section>
      <%= link_to "New Post", new_post_path %>
    </aside>
     <div class="col-md-8">
        <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <h1><%= t "project_2" %></h1>
      <h2><%= t "title" %></h2>
    </aside>
      <div class="col-md-8">
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
    </div>
  </div>
<% end %>

<div class="tags-cloud">
  <h4>Tags Cloud</h4>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
