<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: Settings.gravatar_small_size), post.user %>
  <big><span class="user"><%= link_to post.user.name, post.user %></span></big>
  <span class="content"><%= link_to post.title, post %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    <%= t("posted") %> <%= time_ago_in_words(post.created_at) %> <%= t("ago") %>.
    <% if current_user? post.user %>
      <%= link_to t("delete"), post, method: :delete, data: {confirm: t("you_sure")} %>
    <% end %>
  </span>
</li>
