<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.title %></strong>
</p>

<p>
  <strong><%= @post.content %></strong>
</p>
<%= t ".posted" %> <%= time_ago_in_words(@post.created_at) %> <%= t "ago" %> .
<h2> Comments </h2>
<%= render @post.comments %>
<br>
<%= render "comments/form" %>
<%= link_to t("edit"), edit_post_path(@post) %> |
<%= link_to t("back"), posts_path %>
