<% provide(:title, @post.title) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@post.user, size: Settings.gravatar_big_size) %>
        <%= link_to @post.user.name, @post.user %>
      </h1>
    </section>
    <div class="title"><big><p><%= link_to @post.title, @post %></p></big></div>
    <div class="content"><p><%= @post.content %></p></div>
    <div class="timestamp">
      <%= t "posted" %> <%= time_ago_in_words(@post.created_at) %> <%= t "ago" %>.
    </div>
    <span class="timestamp">
      <p><%= t("tag") %>: <%= raw tag_links(@post.all_tags) %></p>
    </span>
  </aside>
  <div class="col-md-4">
    <% if @post.comments.any? %>
      <h3><%= t "comment" %> (<%= @post.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments, post: @post %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.following?(@post.user) || current_user?(@post.user) %>
        <%= render "comments/form" %>
      <% end %>
    <% end %>
  </div>
</div>
