<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
  	<% if user_signed_in? %>
  	  <p>Hello <%= current_user.name %> - <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %></p>
    <% else %>
      <%= link_to t("log_in"), new_user_session_path %>
      <%= link_to t("register"), new_user_registration_path %>
  	<% end %>
    
    <%= yield %>
  </body>
</html>
